name: CI/CD Pipeline
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "8.0.x"
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Run tests
        run: dotnet test --verbosity normal
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Set Docker image name
        id: vars
        run: echo "image=${{ secrets.DOCKER_USERNAME }}/tasktracker:latest" >> "$GITHUB_OUTPUT"
      - name: Build Docker image
        run: docker build -t ${{ steps.vars.outputs.image }} -f TaskTracker.API/Dockerfile .
      - name: Push Docker image
        run: docker push ${{ steps.vars.outputs.image }}
